@page "/"

<section class="slide-site">
        <div class="interface">
       
        </div>
        <div class="overlay"></div>
</section>


<section class="vantagens">
        
        <div class="interface">
            
            <article class="itens-container">
                
                <div class="txt-itens">
                    <h3><span>Solicite</span> uma <br>demostração</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam saepe dolorum fugit facilis accusantium. Eveniet at expedita labore quod cupiditate!</p>
                </div>

                <div class="img-itens">
                    <img src="images/bg-inicial002.jpg" alt="">
                </div>

            </article>

            <article class="itens-container">
                
                <div class="img-itens order-1">
                    <img src="images/bg-inicial003.jpg" alt="">
                </div>

                <div class="txt-itens order-2">
                    <h3><span>Os</span> melhores <br>APPs</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam saepe dolorum fugit facilis accusantium. Eveniet at expedita labore quod cupiditate!</p>
                </div>

            </article>

            <article class="itens-container">
                
                <div class="txt-itens">
                    <h3><span>As</span> melhores <br>soluções</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam saepe dolorum fugit facilis accusantium. Eveniet at expedita labore quod cupiditate!</p>
                </div>

                <div class="img-itens">
                    <img src="images/bg-inicial001.jpg" alt="">
                </div>

            </article>
        
    </div>
</section>


<section class="slide-site">
    <div class="interface">
        <h3>Solicite <span>novos serviços</span></h3>
        <p>Os melhores hoteis e pousadas para a máxima de conforto para você e a sua familia</p>
        <a href="#">
            <button>Solicitar</button>
        </a>
    </div>
        <div class="overlay"></div>
</section>
