@page "/"

<section class="slide-site">
      <div class="interface">
        <div class="conteudo">
            <h1>Solicite <span>novos serviços</span></h1>
                <p>Encontre o destino que ficarão para sempre em sua memória <span>com um orçamento que cabe no seu bolso</span></p>
                <a href="#">
                    <button>Solicitar</button>
                </a>
        </div>
            
        </div>
        <div class="overlay"></div>
</section>

