<footer>
    <div class="interface">
        <div class="footer-top">
            <div class="solucoes">
                <h4>Soluções</h4>
                <ul>
                    <li><a href="#">Solução 01</a></li>
                    <li><a href="#">Solução 02</a></li>
                    <li><a href="#">Solução 03</a></li>
                    <li><a href="#">Solução 04</a></li>
                    <li><a href="#">Solução 05</a></li>
                </ul>
            </div>

            <div class="Mais">
                <h4>Mais</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Sobre Nós</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>

            <div class="termo">
                <h4>Termos</h4>
                <ul>
                    <li><a href="#">Política de privacidade</a></li>
                    <li><a href="#">Termos de uso</a></li>
                </ul>
            </div>

            <div class="rede-socias">
                <h4>Siga nossas páginas</h4>
                <a href="#">
                    <button><i class="bi bi-instagram"></i></button>
                </a>
                <a href="#">
                    <button><i class="bi bi-facebook"></i></button>
                </a>
                <a href="#">
                    <button><i class="bi bi-twitter"></i></button>
                </a>
            </div>

        </div>
        <div class="footer-down">
            <p>Copyrigt &copy; @Ano <span>eNovaSoft.</span> Todos Direitos Reservados.</p>
        </div>
    </div>
</footer>

@code{
    public int Ano { get; set;} = DateTime.Now.Year;
}