<header>
    <div class="header-top">
        <div class="barra"></div>
    </div>

    <div class="header-botton">
        <div class="interface">

            <section class="logo">
                    <a href="/">
                        <img class="logo-branca" src="images/enovasoft-logo.png" alt="logotipo do site">
                    </a>
                </section>

                <section class="menu-desktop">
                    <nav>
                        <ul>
                            <li><a href="#">Soluções</a></li>
                            <li><a href="#">Suporte</a></li>
                            <li><a href="#">Portifólio</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </nav>
                </section>

                <section class="btn-solicite">
                    <a href="#">
                        <button>Solicite uma demostração</button>
                    </a>
                </section>
        </div>
    </div>
</header>
