<header>
    <div class="header-top">
        <div class="barra"></div>
    </div>

    <div class="header-botton">
        <div class="interface">

            <section class="logo">
                    <a href="/">
                        <img class="logo-branca" src="images/enovasoft-logo.png" alt="logotipo do site">
                    </a>
                </section>

                <section class="menu-desktop">
                    <nav>
                        <ul>
                            <li class="menu-drop"><a href="suporte">Soluções <i class="bi bi-caret-down-fill"></i></a>
                                <div class="drop">
                                    <a href="#">Solução 01</a>
                                    <a href="#">Solução 02</a>
                                    <a href="#">Solução 03</a>
                                    <a href="#">Solução 04</a>
                                    <a href="#">Solução 05</a>
                                </div>
                            </li>
                            <li><a href="#">Suporte</a></li>
                            <li><a href="portifolio">Portifólio</a></li>
                            <li><a href="blog">Blog</a></li>
                        </ul>
                    </nav>
                </section>

                <section class="btn-solicite">
                    <a href="#">
                        <button>Solicite uma demostração</button>
                    </a>
                </section>
        </div>
    </div>
</header>
